<section class="pb-10">

  <swiper-container #swiperRef init="false">
    @for (item of heroList; track item.id) {
      <swiper-slide>
        <div class="bg-[url('/images/hero.png')] bg-cover bg-center h-100">
          <div class="text-white transition bg-linear-to-r from-green-500/90 to-green-400/50 h-full w-full flex flex-col gap-4 justify-center px-8">
            <h2 class="text-3xl font-bold"> {{ item.title }} </h2>
            <p class="text-sm md:text-base lg:text-lg"> {{ item.description }} </p>
            <div class="flex items-center gap-4">
              <a [routerLink]="item.links[0].link" class="px-4 py-2 rounded-md font-semibold bg-white border-2 border-white/50 text-purple-500">
                {{ item.links[0].text }}
              </a>
              <a [routerLink]="item.links[1].link" class="px-4 py-2 rounded-md font-semibold bg-transparent border-2 border-white/50 text-white">
                {{ item.links[1].text }}
              </a>
            </div>
          </div>
        </div>
      </swiper-slide>
    }
  </swiper-container>

</section>
