<div class="space-y-2 my-5">
  <div class="flex items-center gap-3">
    <div class="size-12 rounded-xl bg-linear-to-r from-green-600 to-green-700 text-white flex items-center justify-center">
      <ng-icon class="size-7.5!" name="heroShoppingCartSolid" />
    </div>
    <h1 class="text-3xl font-bold text-gray-900"> Shopping Cart </h1>
  </div>
  <p class="text-gray-500">
    You have
    <span class="font-semibold text-green-600">
      {{ numOfCartItems }} items
    </span>
    in your cart
  </p>
</div>
