<section [class]="gradiant" class="py-10 md:py-14">

  <div class="container">

    <ng-content />

    <div class="flex items-center gap-5 mt-6">
      <div class="size-16 rounded-2xl bg-white/20 text-white shadow-md flex items-center justify-center">
        <ng-icon class="size-7.5!" [name]="icon" />
      </div>
      <div class="space-y-1">
        <h1 class="text-white text-3xl md:text-4xl font-bold tracking-tight">
          {{ title }}
        </h1>
        <p class="text-white/80">
          {{ description }}
        </p>
      </div>
    </div>

  </div>

</section>
