<section class="py-10">

  <div class="container max-w-7xl">

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">

      <!-- left -->
      <div class="space-y-6">

        <div class="h-80 rounded-2xl shadow-lg relative overflow-hidden bg-linear-to-br from-green-50 via-green-50 to-emerald-50 flex flex-col items-center justify-center">
          <div class="absolute top-8 left-8 size-18 bg-green-100/50 rounded-full"></div>
          <div class="absolute bottom-10 right-10 size-18 bg-green-100/50 rounded-full"></div>
          <div class="absolute top-20 right-20 size-14 bg-green-100/50 rounded-full"></div>
          <div class="absolute bottom-20 left-20 size-14 bg-green-100/50 rounded-full"></div>
          <div class="flex gap-3 mb-5">
            <div class="size-14 rounded-xl bg-white text-green-600 shadow-lg flex items-center justify-center -rotate-9 transition-all duration-300 hover:bg-green-50 hover:rotate-0 group">
              <ng-icon size="24" class="-rotate-9 transition-all duration-300 group-hover:rotate-0" name="heroEnvelopeSolid" />
            </div>
            <div class="size-20 rounded-2xl bg-white text-green-600 shadow-xl flex items-center justify-center rotate-4 transition-all duration-300 hover:bg-green-50 hover:rotate-0 group">
              <ng-icon size="32" class="rotate-4 transition-all duration-300 group-hover:rotate-0" name="heroLockClosedSolid" />
            </div>
            <div class="size-14 rounded-xl bg-white text-green-600 shadow-lg flex items-center justify-center rotate-9 transition-all duration-300 hover:bg-green-50 hover:rotate-0 group">
              <ng-icon size="24" class="rotate-9 transition-all duration-300 group-hover:rotate-0" name="heroShieldCheckSolid" />
            </div>
          </div>
          <div class="flex gap-3">
            <div class="size-3 rounded-full bg-green-400 animate-pulse"></div>
            <div class="size-3 rounded-full bg-green-500 animate-pulse delay-150"></div>
            <div class="size-3 rounded-full bg-green-600 animate-pulse delay-300"></div>
          </div>
        </div>

        <div class="space-y-3 md:space-y-4 text-center">
          <h2 class="text-[22px] md:text-3xl font-bold text-gray-800">
            Reset Your Password
          </h2>
          <p class="text-base md:text-lg text-gray-600">
            Don't worry, We‘ll help you get back into your account in no time.
          </p>
          <div class="flex flex-col md:flex-row items-center justify-center gap-5">
            <div class="flex items-center gap-2">
              <ng-icon class="text-emerald-600!" name="heroTruckSolid" />
              <span> Email Verification </span>
            </div>
            <div class="flex items-center gap-2">
              <ng-icon class="text-emerald-600!" name="heroShieldCheckSolid" />
              <span> Secure Reset </span>
            </div>
            <div class="flex items-center gap-2">
              <ng-icon class="text-emerald-600!" name="heroLockClosedSolid" />
              <span> Encrypted </span>
            </div>
          </div>
        </div>

      </div>

      <!-- right -->
      <div class="bg-white shadow-xl rounded-2xl p-4 md:p-6 flex flex-col justify-between gap-4 md:gap-6">

        <div class="space-y-2 text-center">
          <h2 class="text-2xl md:text-3xl font-semibold"> Forgot Password? </h2>
          <p class="text-sm md:text-base"> No worries, we'll send you a reset code </p>
        </div>

        <div class="flex items-center justify-center">
          <div class="flex items-center">
            <div class="size-10 rounded-full flex items-center justify-center text-sm font-semibold transition bg-green-600 text-white ring-4 ring-green-100">
              <ng-icon size="14" name="heroEnvelopeSolid" />
            </div>
            <div [class.bg-green-600]="steps === 'verify' || steps === 'reset'" class="w-16 h-0.5 bg-gray-200 mx-2"></div>
          </div>
          <div class="flex items-center">
            <div [class]="steps === 'verify' || steps === 'reset' ? 'bg-green-600 text-white' : 'bg-gray-100 text-gray-400'" class="size-10 rounded-full flex items-center justify-center text-sm font-semibold transition">
              <ng-icon size="14" name="heroKeySolid" />
            </div>
            <div [class.bg-green-600]="steps === 'reset'" class="w-16 h-0.5 bg-gray-200 mx-2"></div>
          </div>
          <div class="flex items-center">
            <div [class]="steps === 'reset' ? 'bg-green-600 text-white' : 'bg-gray-100 text-gray-400'" class="size-10 rounded-full flex items-center justify-center text-sm font-semibold transition">
              <ng-icon size="14" name="heroLockClosedSolid" />
            </div>
          </div>
        </div>

        @if (steps === 'forgot') {
          <form [formGroup]="forgetform" (ngSubmit)="submitForgetForm()" class="flex flex-col gap-5">
            <div class="space-y-2">
              <label for="email" class="block font-medium"> Email Address </label>
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email" />
              @if (forgetform.get('email')?.hasError('required') && forgetform.get('email')?.touched) {
                <p class="text-sm text-red-500"> Email address is required </p>
              }
              @else if (forgetform.get('email')?.hasError('email')) {
                <p class="text-sm text-red-500"> Please enter a valid email address </p>
              }
            </div>
            <button type="submit" class="w-full px-2 py-3 bg-emerald-600 rounded-md text-white cursor-pointer transition hover:bg-emerald-700">
              @if (isLoading) {
                Reset Code...
              } @else {
                Send Reset Code
              }
            </button>
          </form>
        }
        @if (steps === 'verify') {
          <form [formGroup]="verifyform" (ngSubmit)="submitVerifyForm()" class="flex flex-col gap-5">
            <div class="space-y-2">
              <label for="resetCode" class="block font-medium"> Verification Code </label>
              <input type="text" id="resetCode" formControlName="resetCode" class="form-control" placeholder="Enter your reset Code" />
              @if (verifyform.get('resetCode')?.hasError('required') && verifyform.get('resetCode')?.touched) {
                <p class="text-sm text-red-500"> Reset Code is required </p>
              }
            </div>
            <button type="submit" class="w-full px-2 py-3 bg-emerald-600 rounded-md text-white cursor-pointer transition hover:bg-emerald-700">
              @if (isLoading) {
                Verify Code...
              } @else {
                Verification Code
              }
            </button>
          </form>
        }
        @if (steps === 'reset') {
          <form [formGroup]="resetform" (ngSubmit)="submitResetForm()" class="flex flex-col gap-5">
            <div class="space-y-2">
              <label for="newPassword" class="block font-medium"> New Password </label>
              <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="Enter your password" />
              @if (resetform.get('newPassword')?.hasError('required') && resetform.get('newPassword')?.touched) {
                <p class="text-sm text-red-500"> New Password is required </p>
              }
              @else if (resetform.get('newPassword')?.hasError('minlength')) {
                <p class="text-sm text-red-500"> New Password must be at least 8 characters </p>
              }
            </div>
            <div class="space-y-2">
              <label for="confirmNewPassword" class="block font-medium"> Confirm New Password </label>
              <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" class="form-control" placeholder="Enter your confirm password" />
              @if (resetform.get('confirmNewPassword')?.hasError('required') && resetform.get('confirmNewPassword')?.touched) {
                <p class="text-sm text-red-500"> Confirm New Password is required </p>
              }
              @else if (resetform.get('confirmNewPassword')?.hasError('passwordMismatch') && resetform.get('confirmNewPassword')?.touched) {
                <p class="text-sm text-red-500"> Password and Confirm Password dosen't match </p>
              }
            </div>
            <button type="submit" class="w-full px-2 py-3 bg-emerald-600 rounded-md text-white cursor-pointer transition hover:bg-emerald-700">
              @if (isLoading) {
                Reset Password...
              } @else {
                Reset Password
              }
            </button>
          </form>
        }

        <p class="text-center">
          Remember your password?
          <a routerLink="/auth/signin" class="text-emerald-600 font-medium transition hover:underline"> Sign In </a>
        </p>

      </div>

    </div>

  </div>

</section>
