<app-page-header
  [title]="'All Categories'"
  [description]="'Browse our wide range of product categories'"
  [icon]="'heroSquares2x2Solid'"
  [gradiant]="'bg-linear-to-br from-orange-600 via-orange-500 to-orange-400'"
>
  <app-breadcrumb [breadcrumbs]="breadcrumbs" />
</app-page-header>

<section class="py-10">

  <div class="container">

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 md:gap-6">
      @if (isLoading) {
        @for (_ of [1,2,3,4,5]; track $index) {
          <div class="bg-white rounded-2xl p-4 shadow-sm space-y-4 animate-pulse">
            <div class="aspect-square rounded-xl bg-gray-200"></div>
            <div class="flex justify-center">
              <div class="h-4 w-24 rounded bg-gray-200"></div>
            </div>
          </div>
        }
      }
      @else {
        @for (category of categories; track category._id) {
          <div [routerLink]="['/categories', category._id]" class="bg-white rounded-2xl p-4 shadow-sm space-y-4 transition-all duration-300 hover:shadow-md group cursor-pointer">
            <div class="aspect-square rounded-xl bg-gray-50 p-4 flex items-center justify-center overflow-hidden">
              <img [src]="category.image" class="w-full transition-all duration-300 group-hover:scale-110" [alt]="category.name" />
            </div>
            <h3 class="text-gray-900 font-semibold text-sm text-center transition truncate group-hover:text-violet-600">
              {{ category.name }}
            </h3>
          </div>
        }
      }
    </div>

  </div>

</section>
